<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">jQurity</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/videos/">Videos</a>
      </li>
<!--      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign In
        </a>
        <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Sign In</a>
          <a class="dropdown-item" href="#">Registration</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>

    <search [passedQuery]='query'></search>

<!--     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name="" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

  </div>
</nav>

<div class="main-container">
	<router-outlet></router-outlet>
</div>

<footer class="footer bg-dark footer-hight">
	<div class="container text-center" style="padding-top: 40px;">
		<p>Copyright © 2018 by Mohin Jaki ▪ All rights reserved</p>
	</div>
</footer>