/* You can add global styles to this file, and also import other style files */
.main-container {
	min-height: 700px;
}

.img-carousel{
	display: block;
	width: 100%;
	width: 100%;
	height: 400px;
}

.position-set {
	padding-top: 30px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	cursor: pointer;
}

.content-center {
	margin: 0 auto;
}

.embed-video {
	margin: 0 auto;
	width: 1000px;
	height: 500px;
}

.video-item{
	padding: 0px;
	margin: 20px 40px;
}

.card-title-txt {
	margin-top: 10px;
}

.footer-hight{
	height: 100px;
}
